.v-widget-network-invitation {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 8px 8px 8px 15px;
  h3 {
    font-weight: 400;
  }
  .v-button {
    padding: 4px 12px;
    font-weight: 500;
    font-size: 15px;
  }
}