.v-body {
  width: 100%;
  > * {
    display: grid;
    gap: 8px 0;
  }
}

.v-body.x-feed-index {
  .v-button {
    &.v-expander {
      margin: 0 auto;
    }
  }
  .sidebar-right {
    .sticky {
      position: sticky;
    }
  }
}