.v-button {
  display: grid;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.v-button.v-expander {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0 4px;
  place-items: center;
  font-weight: 500;
  font-size: 15px;
  color: var(--black-a60);
  svg {
    width: 18px;
    height: 18px;
    fill: var(--black-a60);
    transition: .1s;
  }
  &.enabled {
    svg {
      transform: rotate(180deg);
    }
  }
}