.v-link {
  &.leading, &.actions {
    display: grid;
    gap: 0 12px;
    align-items: center;
  }
  &.leading {
    grid-template-columns: auto 1fr;
  }
  &.actions {
    grid-template-columns: 1fr auto;
  }
  &.hover {
    &-underline {
      &:hover {
        text-decoration: underline;
        color: var(--color-action) !important;
      }
    }
  }
}