.v-header {
  > .container {
    .v-button {
      &.menu {
        display: grid;
        svg {
          &.dots {
            display: none;
          }
          &.grid {
            display: grid;
          }
        }
      }
    }
  }
}