.v-widget-history {
  display: grid;
  gap: 9px 0;
  background-color: white;
  padding-top: 14px;
  > .v-link.more {
    border-top: 1px var(--color-border-faint) solid;
    padding: 12px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: var(--black-a60);
  }
}

.v-widget-history-section {
  display: grid;
  gap: 9px 0;
  padding: 0 12px;
  > .header {
    display: flex;
    align-items: center;
    gap: 0 15px;
    > .title, > .v-link {
      font-size: 12px;
    }
    > .v-link {
      color: var(--color-action);
      font-weight: 500;
    }
    .actions {
      display: flex;
      align-items: center;
      gap: 0 4px;
      svg {
        width: 16px;
        height: 16px;
        fill: var(--black-a60);
      }
    }
  }
  > .body {
    display: grid;
    gap: 5px 0;
    .v-link {
      &.leading {
        font-weight: 500;
        color: var(--black-a60);
        font-size: 12px;
        svg {
          width: 16px;
          height: 16px;
          fill: var(--black-a60);
        }
      }
    }
  }
  &.has-body {
    > .body {
      margin-bottom: 12px;
    }
  }
}