.v-header {
  padding: 0;
  > .container {
    grid-template-columns: auto 1fr 1fr;
    gap: 0 8px;
    max-width: 1128px;
    margin: 0 auto;
    padding: 0 24px;
    .v-button {
      &.search {
        display: none;
      }
    }
    .v-searcher-advanced {
      display: grid;
      height: 34px;
    }
    .v-link {
      &.premium {
        white-space: nowrap;
      }
    }
  }
}